/.idea/
/Binaries/
/Saved/
/Content/__ExternalActors__
/Content/__ExternalObjects__
/Content/Characters
/Content/Collections
/Content/Developers
/Content/InfinityBladeEffects
/Content/LevelPrototyping
/Content/StarterContent
/Content/ThirdPerson/Blueprints
/Content/ThirdPerson/Maps
/Downloaded Content/
/Intermediate/
/.vs/
/DerivedDataCache/
.vsconfig